/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.registration-head{
  padding-top: 17px;
}

.main-block{
  width: 350px;
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 1px;
}

.registration-body{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration-title{
  color: rgba(var(--f52,142,142,142),1);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.registration-input{
  margin-top: 5px;
  width: 75%;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 12px;
  background: rgba(var(--b3f,250,250,250),1);
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  overflow: hidden;
  padding: 9px 0 7px 8px;
  text-overflow: ellipsis;
  outline: none;
}

.registration-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authorization-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle{
  margin-top: 10px;
  color: rgba(var(--f52,142,142,142),1);
  font-size: 12px;
  line-height: 16px;
  margin: 10px 40px;
  text-align: center;
}

.registration-button{
  padding: 5px;
  width: 75%;
  background-color: rgba(var(--d69,0,149,246),1);
  color: rgba(var(--eca,255,255,255),1);
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}



.registration-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  font-weight: normal;
}

.validation{
  font-size: 10px;
}

.input-wrapper{
  width: 40%;
  position: relative;
  text-align: center;
}

.input-file{
  visibility: hidden;
  position: absolute;
}

.file-button{
  padding: 5px;
  width: 100%;
  background-color: rgba(var(--d69,0,149,246),1);
  color: rgba(var(--eca,255,255,255),1);
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

