@model User

 <ul>
     <li><span class="profile-stat-count">@Model.Publications.Count</span> публикации</li>
     <li><span class="profile-stat-count">@Model.Subscribers.Count</span> подписчики</li>
     <li><span class="profile-stat-count">@Model.Followers.Count</span> подписки</li>
 </ul>
